<div class="user-profile-container">
  <div class="cover-photo-container">
    <%= image_tag '', :alt => 'Cover Photo' %>
  </div>

  <div class="user-info-container">
    <div class="user-avatar"></div>

    <div class="user-name"></div>
    <ul class="user-detail">
      <li></li>
    </ul>
  </div>

  <div class="clear"></div>
</div>

<%= render :partial => '/home/posts-list.html' %>