<div class="detail-photos" id="detail-photos">
  <% @post.images.each do |image| %>
    <%= link_to image_tag(image.image_url(:thumb)), photo_path(@post.slug, image), :class => 'detail-thumb' %>
  <% end %>
  <div class="clear"></div>
</div>