<div class="detail-photos" id="detail-photos">
  <% @post.images.each do |image| %>
    <%= link_to image_tag(image.image_url(:thumb)), photo_path(@post.slug, image), :class => 'detail-thumb' %>
  <% end %>
  <div class="clear"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  // datail photo
  $('#detail-photos > a').click(function(event){
    event.preventDefault();
    arr_url = $(this).attr('href').split('/');
    id = arr_url[arr_url.length - 1];
    img = $('#img-'+id);

    $('.detail-image-container > img').hide();
    if (img.length){
      img.show();
    }else{
      $.ajax({
        url: $(this).attr('href'),
        dataType: 'script'
      });
    }
  });
});
</script>