<div class="content-container">
  <h2>About Us</h2>

  <div class="content-value">
    <%= image_tag 'logo.png', :alt => 'Opportux', :class => 'footer-logo' %>

    <p>
      <strong>VISION</strong><br />
      To be the leading place globally; where people can seek for
      opportunity to have a better life.
    </p>

    <p>
      <strong>MISSION</strong><br />
      To help people get opportunity and fulfill their hope and dream.
    </p>

    <strong>VALUES (5):</strong>
    <ol>
      <li>Integrity</li>
      <li>Win-Win</li>
      <li>Efficient & Effective</li>
      <li>Adaptation to Change</li>
      <li>Creative - "Think outside the box"</li>
    </ol>

    <h2>Contact Us</h2>
    <p>
      PT. Kreasi Media Prakarsa<br />
      Address: Jln. Danau Indah Barat 2, Blok A3/11, Sunter Jaya,  Jakarta Utara 14350<br />
      Email: info@Opportux.com<br />
      Phone: (021) 650 6268
    </p>
  </div>
</div>