<div class="content-container">
  <h2>Contact Us</h2>

  <div class="content-value">
    <p>
      PT. Kreasi Media Prakarsa<br />
      Address: Jln. Danau Indah Barat 2, Blok A3/11, Sunter Jaya,  Jakarta Utara 14350<br />
      Email: info@Opportux.com<br />
      Phone: (021) 650 6268
    </p>
  </div>
</div>