/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require jquery.facebox
 *= require_tree .
 *= require_self
 */

body{
  font-family: "Calibri";
  font-size: 12px;
  line-height: 15px;
}
a{
  text-decoration: none;
  outline: none;
}
a:active, a:focus{ outline: none; }

.wrapper{
  background-image: url(bg-wrapper.png), url(bg-body.png);
  background-repeat: repeat-x, repeat;
  background-position: 0px -60px, 0px 0px;
  margin: 0 auto;
  width: 100%;
}

.header-wrapper{
  background: url(bg-header.png) repeat-x transparent;
  color: #fff;
  display: block;
  height: 77px;
}
.header{
  margin: 0 auto;
  width: 940px;
}
.header-logo{
  float: left;
  margin-top: 14px;
  width: 186px;
}
.header-separator{
  background-color: #3e2d4f;
  border-left: 1px solid #1c1424;
  float: left;
  height: 66px;
  width: 1px;
}
.header-separator.right{ float: right; }
.header-menu{
  border-radius: 15px;
  box-shadow: 0px 1px 5px #1c1424;

  color: #fff;
  font-family: "Calibri";
  font-weight: bold;
  float: left;
  height: 27px;
  margin-top: 19px;
  margin-left: 15px;
  text-shadow: 0px 1px 1px #333;
}
.header-menu > a{
  background: url(bg-header-menu.png) repeat-x transparent;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #665c70 #1c1424 #1c1424 #665c70;

  color: #fff;
  float: left;
  height: 22px;
  padding: 4px 14px 0;
}
.header-menu > a:hover{ color: #a9a9a9; }
.header-menu > a.active{
  background: none;
  box-shadow: 0px 0px 5px #333 inset;
}
.header-menu > a:first-child{
  border-radius: 15px 0px 0px 15px;
}
.header-menu > a:last-child{
  border-radius: 0px 15px 15px 0px;
}
.header-menu.category a img{ float: left;margin-right: 8px; }
.header-menu.category a span{ clear: both; }

.header-menu.header-search{
  float: right;
  margin-right: 15px;
}
.header-menu.header-search a{
  padding: 4px 5px 1px;
}

.header-menu.user-menu{
  float: right;
  box-shadow: none;
}
.user-menu .umenu{
  background: url("icon-menudown.png") no-repeat scroll 0 8px transparent;
  display: block;
  float: right;
  height: 24px;
  margin: -2px -7px 0 10px;
  width: 12px;
}
.header-menu.header-search a, .header-menu.user-menu > a{ border-radius: 10px; }
.header-menu.user-menu > a{ float: right;min-width: 100px; }
.header-menu.user-menu.header-login-link > a{ min-width: 0; }

.menu-user-avatar{
  float: left;
  background: #FFFFFF;
  border-radius: 999px 999px 999px 999px;
  height: 25px;
  margin: -4px 10px 0 -13px;
  overflow: hidden;
  width: 25px;
}
.menu-user-avatar img{
  border-radius: 999px 999px 999px 999px;
  margin: -5px 0 0;
  width: 26px;
}
span.uname{ float: left;height: 20px; }

.hmenu-container{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #ccc;
  display: none;
  float: right;
  margin: 10px 0;
  min-width: 158px;
  padding: 5px 0 10px;
  position: fixed;
}
.hmenu-container ul{
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.hmenu-container ul li{
  border-bottom: 1px solid #ccc;
  color: #000;
  display: block;
  padding: 4px 5px 5px 15px;
  text-shadow: none;
}
.hmenu-container ul li:first-child{ border-top: 1px solid #ccc; }
.hmenu-container ul li a{ color: #31B5E0;display: block; }
.hmenu-container ul li a:hover{ color: #000; }

.search-form-container{
  background-color: #fff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 5px #ccc;
  display: none;
  height: 30px;
  margin: 0 auto;
  padding: 18px 0;
  width: 940px;
}
.search-field-container{
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 26px;
  margin: 0 auto;
  padding: 0 10px;
  width: 370px;
}
.s-image{
  background: url(icon-search.png) no-repeat transparent;
  float: left;
  height: 26px;
  margin: 5px 5px 0 0;
  width: 18px;
}
.search-field-container input[type="text"]{
  background: #f8f8f8;
  border: none;
  color: #666;
  font-family: "Calibri";
  font-size: 12px;
  height: 22px;
  padding: 2px 0;
  width: 340px;
}

.top-thumb-container{
  margin: 0 auto 40px;
  width: 940px;
}
ul.top-thumbs{
  list-style: none;
  height: 255px;
  margin: 20px 0 0;
  padding: 0;
}
.top-thumbs li{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #ccc;
  float: left;
  height: 255px;
  margin-right: 20px;
  width: 220px;
}
.top-thumbs li:last-child{ margin-right: 0; }
.top-thumbs li .thumb-img, .top-thumbs li .thumb-img img{ border-radius: 5px 5px 0px 0px; }
.top-thumbs li .thumb-img > a, .top-thumbs li .thumb-img > a img{
  background: #eee;
  display: block;
  height: 165px;
  text-align: center;
  width: 220px;
}

.thumb-info{
  border-bottom: 1px solid #ccc;
  height: 49px;
  overflow: hidden;
  padding: 5px 10px;
}
.thumb-author{ display: block; }
.thumb-author a{ color: #31b5e0; }
.thumb-author a:hover{ text-decoration: underline; }
.thumb-desc p:first-child{ margin: 0;padding: 0; }

.thumb-stat{
  color: #666;
  float: left;
  height: 20px;
  padding: 7px 15px 0 35px;
}
.thumb-view{ background: url(icon-view.png) no-repeat scroll 10px 10px transparent; }
.thumb-comment{ background: url(icon-comment.png) no-repeat scroll 10px 11px transparent; }
.thumb-like{ background: url(icon-like.png) no-repeat scroll 10px 10px transparent; }

.thumb-time{
  float: right;
  padding: 6px 10px 0 0;
}


.content-wrapper{
  margin: 20px auto 0px;
  width: 940px;
}
.main-content{
  float: left;
  margin-right: 20px;
  width: 640px;
}
ul.item-list{
  list-style: none;
  margin: 0;
  padding: 0 0 10px;
}
ul.item-list li{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 10px;
  width: 640px;
}
ul.item-list li .draft, .item-detail-container .draft{
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  border-width: 10px 50px 50px 50px;
  color: red;
  height: 0;
  margin: -18px 0 0 -36px;
  opacity: 0.7;
  position: absolute;
  width: 0;

  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.draft span{
  display: block;
  font-size: 14px;
  margin: 24px 0 0 -16px;
  text-shadow: 0px 1px #ccc;
}

.item-view-info{
  background: none repeat scroll 0 0 #da839a;
  border: 5px solid #FFFFFF;
  border-radius: 999px 999px 999px 999px;
  box-shadow: 0 0 5px #CCCCCC;
  color: #FFFFFF;
  float: left;
  height: 51px;
  margin: 10px 0 0 -87px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 3px #333333;
  width: 51px;
}
.item-view-info:before{
  border-color: transparent white;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  content: "";
  display: block;
  position: absolute;
  right: -13px;
  top: 25px;
}
.item-view-info span{
  display: block;
  font-size: 20px;
  margin: 12px 0 0;
}

.item-img-container{ float: left; }
.item-img-container{
  background: #eee;
  border-radius: 5px 0 0;
  height: 219px;
  overflow: hidden;
  width: 340px;
}
.item-img-container img{
  margin: 0 auto;
  width: 340px;
}
.item-info{
  float: left;
  height: 209px;
  padding: 10px 0 0;
  width: 300px;
}
.item-title{
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  height: 125px;
  margin: 0 10px;
  overflow: hidden;
}
.item-title a{ color: #000; }
.item-title a:hover{ color: #444; }
.item-autor{
  line-height: 18px;
  margin: 0 0 0 10px;
}
.item-autor a{ color: #31b5e0; }
.item-autor a:hover{ text-decoration: underline; }
.item-location{
  background: url(icon-location.png) no-repeat transparent;
  border-right: 1px solid #ccc;
  color: #666;
  float: left;
  margin: 0 0 0 10px;
  padding: 0 5px 0 20px;
}
.item-category{
  float: left;
  color: #31b5e0;
  height: 16px;
  margin: 0 0 0 5px;
  overflow: hidden;
  width: 175px;
}
.item-category a{ color: #31b5e0; }
.item-category a:hover{ text-decoration: underline; }
.item-stat{
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  color: #666;
  height: 19px;
  margin: 20px 0 0;
  padding: 6px 5px 4px;
}
.item-info .item-action{
  margin-top: -12px;
}
.item-info .item-action a{
  padding: 0px 10px 0 0;
}
ul.item-list li:hover .item-action a{ display: block; }

.item-stat span{
  float: left;
  min-width: 80px;
  padding: 0 18px;
}
.item-time{
  background: url(icon-time.png) no-repeat scroll 2px 2px transparent;
}
.item-like{
  background: url(icon-like.png) no-repeat scroll 2px 3px transparent;
}
.item-comment{
  background: url(icon-comment.png) no-repeat scroll 2px 2px transparent;
}

.item-desc{
  color: #2b2929;
  font-size: 14px;
  font-family: "Calibri";
  line-height: 16px;
  margin: 10px 15px;
}
.view-more{
  background: -moz-linear-gradient(top, #31b5e0 0%, #31b5e0);
  background: -webkit-gradient(linear, left top, left bottom, from(#31b5e0), to(#31b5e0));
  background: -o-linear-gradient(top, #31b5e0, #31b5e0);
  background: -ms-linear-gradient(top, #31b5e0, #31b5e0);

  border-radius: 15px;
  color: #fff !important;
  font-size: 12px !important;
  font-style: italic !important;
  line-height: 14px !important;
  padding: 8px 15px !important;
  text-shadow: 0px 1px 3px #ccc !important;
}
.view-more:hover{ box-shadow: 0px 0px 5px #ccc; }

.right-content{
  float: right;
  width: 280px;
}
.right-content .sign-up-link{
  background: -moz-linear-gradient(top, #e56c0b 0%, #ba4717);
  background: -webkit-gradient(linear, left top, left bottom, from(#e56c0b), to(#ba4717));
  background: -o-linear-gradient(top, #e56c0b, #ba4717);
  background: -ms-linear-gradient(top, #e56c0b, #ba4717);
  border-radius: 15px;
  box-shadow: 0px 1px 2px #e56c0b;
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 10px 0;
  text-align: center;
  text-shadow: 0px 1px 2px #aaa;
}
.big-adv{
  height: 230px;
  margin: 0 0 20px 0;
  width: 280px;
}
.medium-adv-container{ margin: 0 0 20px 0; }
.medium-adv-container .medium-adv:first-child{ margin-left: 0px; }
.medium-adv{
  float: left;
  height: 85px;
  margin-left: 10px;
  width: 135px;
}

.most-view-container{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #ccc;
  margin: 0 0 20px 0;
  text-shadow: 0px 1px #ddd;
  width: 280px;
}
.most-view-title{
  background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ffffff));
  background: -o-linear-gradient(top, #f3f3f3, #ffffff);
  background: -ms-linear-gradient(top, #f3f3f3, #ffffff);

  border-bottom: 1px solid #f0f0f0;
  border-radius: 5px 5px 0 0;
  color: #333;
  display: block;
  font-weight: bold;
  padding: 16px 15px 15px;
  text-transform: uppercase;
}
ul.most-view-list{
  background: #fff;
  border-radius: 0 0 5px 5px;
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}
.most-view-list li{ border-bottom: 1px solid #f0f0f0; }
.most-view-list li a{
  color: #333;
  display: block;
  padding: 16px 15px 15px;
}
.most-view-list li a:hover{ color: #a9a9a9; }
.most-view-list li:last-child, .most-view-list li:last-child a{ border-radius: 0 0 5px 5px; }

.little-adv{
  width: 280px;
}
.little-adv-title{
  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
  margin: 0 0 15px;
}
ul.little-adv-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.little-adv-list li{
  padding: 0 0 15px 0;
}
.adv-img{ float: left; }
.little-adv-list li .adv-img, .little-adv-list li .adv-img img{
  border-radius: 5px;
  height: 50px;
  width: 60px;
}
.little-adv-info{
  float: right;
  width: 210px;
}
.little-adv-info-title{
  display: block;
}
.little-adv-info-title a{ color: #31b5e0; }
.little-adv-info-title a:hover{ text-decoration: underline; }
.little-adv-desc p{
  color: #666;
  padding: 0;
  margin: 0;
}

a.back-to-top{
  float: right;
  margin-top: -41px;
}

.about-info-wrapper{
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  margin: 30px 0 0;
}
.about-info{
  margin: 0 auto;
  width: 940px;
}
.about-us, .contact-us{
  float: left;
  padding: 20px;
  width: 430px;
}
.contact-us{ padding: 0 20px 20px; }
.about-us p, .contact-us p{
  color: #666;
  padding: 0 20px 0 0;
}
.footer-title{
  color: #666;
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-wrapper{
  background-color: #dcdcdc;
}
.footer{
  margin: 0 auto;
  padding: 16px 0;
  width: 940px;
}
.footer, .footer a{ color: #666; }
.copy-right{
  float: left;
}
.footer-menu{
  float: left;
  margin-left: 20px;
}
.footer-menu a{ padding: 0 10px; }
.footer-menu a:hover{ color: #000;text-decoration: underline; }
.footer-right{ float: right; }
.footer-right a{ font-weight: bold; }



#facebox_overlay{
  opacity: 0.6 !important;
}

/* FORM */
.form{ margin: 20px 0; }
.field-group{ margin: 0 0 10px; }
label{
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px 0;
}
label.inline-label{ display: inline; }
.text-field, .text-area{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 95%;
}
.text-area{ resize: none; }
/*input:invalid, textarea:invalid{
  border-color: #f9635c;
  box-shadow: none;
}*/
.form-action{ margin: 20px 0 0; }
.button-link{
  background: -moz-linear-gradient(top, #e588a0 0%, #b9697d);
  background: -webkit-gradient(linear, left top, left bottom, from(#e588a0), to(#b9697d));
  background: -o-linear-gradient(top, #e588a0, #b9697d);
  background: -ms-linear-gradient(top, #e588a0, #b9697d);

  border: 1px solid #b9697d;
  border-radius: 15px;
  box-shadow: 0px 1px 2px #b9697d;
  color: #fff;
  font-size: 14px;
  padding: 7px 20px 8px;
  text-align: center;
  text-shadow: 0px 1px 2px #aaa;
}

.cancel-link{
  background: -moz-linear-gradient(top, #f3f3f3 0%, #efefef);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#efefef));
  background: -o-linear-gradient(top, #f3f3f3, #efefef);
  background: -ms-linear-gradient(top, #f3f3f3, #efefef);
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  box-shadow: 0px 1px 2px #d9d9d9;
  color: #333;
  font-size: 14px;
  padding: 7px 20px 8px;
  text-align: center;
  text-shadow: 0px 1px 2px #aaa;
}

.form a.tag-list{
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);

  border: 1px solid #ccc;
  border-radius: 20px;
  color: #31b5e0;
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
}
span.field-desc{
  color: #666;
  display: block;
  padding: 5px 0 0 10px;
}

/* LOGIN FORM */
.devise-form, .login-form{
  background: #fff;
  padding: 20px;
}
.signup-form{
  background: #fff;
  border-radius: 5px;
}
.signup-form.not-xhr{ box-shadow: 0px 1px 5px #ccc; }

.login-form-container{ background: #fff; }
.login-form-container.not-xhr{
  border-radius: 5px;
  box-shadow: 0px 1px 5px #ccc;
}

.login-form{
  float: left;
  width: 280px;
}
.login-form-container.not-xhr .login-form{
  border-radius: 5px 0 0;
  width: 250px;
}

.login-form h2, .devise-form h2, .form-container h2{
  color: #999;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}
.remember-me{
  margin: 5px 0 0;
}
.login-form .form-action{
  float: left;
}
.login-form .form-link{
  float: right;
  margin: 30px 0 0;
}
.login-form .form-link a{
  color: #31b5e0;
  text-decoration: underline;
}

.login-separator{
  background: url(login-separator.png) no-repeat transparent;
  float: left;
  height: 235px;
  margin: 20px 0 0;
  width: 43px;
}
.login-with-facebook{
  background: #fff;
  float: left;
  padding: 40px 20px;
  width: 280px;
}
.login-form-container.not-xhr .login-with-facebook{
  border-radius: 0 5px 0 0;
  padding: 40px 0;
  width: 250px;
}

.login-with-facebook fieldset{
  border-width: 1px 0 0;
}
.login-with-facebook fieldset legend{
  color: #666;
  padding: 0 10px;
  font-style: italic;
}
.login-facebook-link{
  background: url(icon-login-facebook.png) no-repeat transparent;
  display: block;
  height: 45px;
  margin: 40px 0 0;
  width: 281px;
}
.login-footer{
  background: #f8f8f8;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  height: 17px;
  margin: 0 -10px -10px;
  padding: 25px 20px;
}
.login-form-container.not-xhr .login-footer{
  border-radius: 0 0 5px 5px;
  margin: 0;
}

.login-footer a{ color: #31b5e0; }

.devise-form h2{ margin: 0 0 20px; }
.devise-form a{ color: #31b5e0; }

.reset-password-form{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #ccc;
  width: 600px;
}
.reset-password-form .form{ width: 350px; }

/* UPLOAD FORM */
.upload-form-container{
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #ccc;
  padding: 20px;
}
.upload-form-container .form-action{ margin: 30px 10px 0 0; }
.upload-form-container .form-action .cancel-link{ margin: 0 10px 0 0; }
.image-group{
  background: #eee;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 10px;
}

.fake-file-input-container{}
.fake-file-input{
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  float: left;
  padding: 10px 15px 9px;
  width: 70%;
  z-index: 74;
}
.fake-choose{
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ffffff));
  background: -o-linear-gradient(top, #f6f6f6, #ffffff);
  background: -ms-linear-gradient(top, #f6f6f6, #ffffff);

  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  float: left;
  padding: 4px;
  z-index: 75;
}
.fake-choose span{
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);

  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
  z-index: 76;
}
.image-group input[type=file]{
  border: 1px solid #000000;
  cursor: pointer;
  display: block;
  float: right;
  height: 39px;
  margin-right: 60px;
  margin-top: -59px;

  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;

  position: relative;
  text-align: right;
  width: 538px;
  z-index: 77;
}

a.remove-image img{
  float: right;
  margin: 5px 0 0;
  opacity: 0.3;
}
a.remove-image:hover img, a.remove-image img:hover{ opacity: 1; }
a.add-image{
  color: #31b5e0;
  display: block;
  padding: 5px 10px 0;
}

.edit-thumb-img{
  height: 81px;
  margin: 10px 0 5px 10px;
  overflow: hidden;
  width: 145px;
}
.edit-thumb-img img{
  margin: 0 auto;
  width: 145px;
}

/* ITEM DETAIL */
.item-detail-container{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #ccc;
  width: 640px;
}
.author-container{
  height: 82px;
  padding: 12px 15px;
}
.author-image{
  float: left;
  background: #fff;
  border: 2px solid #E6E6E6;
  border-radius: 999px 999px 999px 999px;
  box-shadow: 0px 1px 5px #ccc;
  height: 79px;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 2px;
  width: 79px;
}
.user-thumb-image{
  border-radius: 999px 999px 999px 999px;
  margin: -5px 0 0 -5px;
  width: 90px;
}
.author-info{
  float: left;
}
.author-info a.author-name-link{
  color: #31b5e0;
  display: block;
  font-size: 24px;
  line-height: 26px;
  margin: 13px 0 5px;
}
.author-info .item-location{ margin-left: 0; }

.item-action{ float: right; }
.item-action a{
  color: #31b5e0;
  display: none;
  padding: 5px 10px;
}
.item-action a.publish-link, .item-detail-container:hover .item-action a{ display: inline-block; }
.item-action a.remove-link, .item-action a.report-link{ color: red; }
.item-action a.publish-link, .item-action a.publish-link{ color: green; }
.item-action a.edit-link{ color: #feb84a; }

.detail-image-container{
  background: #eee;
  /*height: 423px;*/
  overflow: hidden;
  width: 640px;
}
.detail-image-container img{
  margin: 0 auto;
  width: 640px;
}

.detail-stat{
  background: url(bg-dt-pattern.png) repeat-x transparent;
  height: 15px;
  padding: 18px 15px 17px;
}
.detail-stat span{
  float: left;
  padding: 0 18px;
}

.social-media-container{
  float: right;
  height: 20px;
  margin: -3px 0 0;
  width: auto;
}
.social-media{ float: left; }

.detail-description-info{
  border-width: 1px 0;
  border-style: solid;
  border-color: #f0f0f0;
}
.detail-description-info > h2{ margin-left: 15px; }
.detail-info-tab{ height: 55px; }
.detail-info-tab ul{
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);

  border-bottom: 5px solid #ccc;
  list-style: none;
  height: 50px;
  margin: 0;
  padding: 0;
}
.detail-info-tab ul li{
  background: #fcfcfc;
  border-right: 2px solid #f0f0f0;
  display: inline-block;
  padding-left: 1px;
}
.detail-info-tab ul li a{
  background: -moz-linear-gradient(top, #f8f8f8 0%, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);

  border-bottom: 5px solid #ccc;
  color: #333;
  display: block;
  padding: 19px 15px 18px;
  height: 13px;
  text-shadow: 0px 1px #ccc;
}
.detail-info-tab ul li a:hover, .detail-info-tab ul li a.active{
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ffffff));
  background: -o-linear-gradient(top, #f6f6f6, #ffffff);
  background: -ms-linear-gradient(top, #f6f6f6, #ffffff);
  border-bottom: 5px solid #da839a;
}
.detail-info{ padding: 0 15px 25px; }

.detail-description > h2{ margin-top: 0; }
.detail-description > ul{ padding-left: 15px; }

.detail-photos{ background: #fff; }
.detail-photos a.detail-thumb{
  display: block;
  float: left;
  height: 105px;
  width: 145px;
  margin: 0 7px 10px 0;
  opacity: 0.8;
  overflow: hidden;
}
.detail-photos a.detail-thumb:hover{ opacity: 1; }

.post-comment-container{
  padding: 10px;
}

/* CHOSEN */
.chzn-container-single .chzn-single{
  background: #fff;
  border-radius: 0 5px 5px 0;
  color: #666;
}
.chzn-container-single .chzn-single.focused{ border: 1px solid #aaa; }
.chzn-container-single .chzn-single div b{ background: url(icon-select-down.png) no-repeat; }
.chzn-container-single .chzn-single-with-drop div b{ background: url(icon-select-up.png) no-repeat; }

.form .chzn-container{
  color: #666;
  font: bold 12px "Calibri";
}
.form .chzn-container-single .chzn-single{
  height: 25px;
  padding: 0px 10px 4px;
}
.form .chzn-single.chzn-single-with-drop{ border-radius: 5px 5px 0 0; }
.form .chzn-container-single .chzn-single div{ width: 31px; }
.form .chzn-container .chzn-results{ border-radius: 0 5px 5px 0; }
.form .chzn-container .chzn-results li{ padding: 2px 10px 4px; }
.form .chzn-container .chzn-results .highlighted{ background-color: #f7fcfd; }
.form .chzn-container .chzn-drop{ max-width: 99.6% !important; }
.form .chzn-container-single .chzn-search input{
  background: url(icon-selectbox-search.png) no-repeat scroll 97% 9px transparent;
  color: #ccc;
  font-size: 14px;
  max-width: 97% !important;
  padding: 0px 5px;
}

/* PAGINATION */
.pagination-container{
  border-radius: 5px;
  display: block;
  margin: 20px 0 20px;
}
.pagination{
  background: -moz-linear-gradient(top, #fafafa 0%, #f6f6f6);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f6f6f6));
  background: -o-linear-gradient(top, #fafafa, #f6f6f6);
  background: -ms-linear-gradient(top, #fafafa, #f6f6f6);

  border: 1px solid #ccc;
  border-radius: 5px;
}
.pagination span, .pagination em, .pagination a{
  display: inline-block;
  color: #31b5e0;
  margin-left: -4px;
  padding: 8px 12px 7px;
  text-shadow: 0px 1px #f3f3f3;
  position: relative;
}
.pagination .previous_page{
  border-right: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 20px;
}
.pagination .next_page{
  border-left: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  padding-left: 20px;
  padding-right: 10px;
}
.pagination .previous_page.disabled, .pagination .next_page.disabled{ color: grey; }

.pagination em, .pagination a:hover{
  background: #31b5e0;
  color: #fff;
}
.pagination em:after{
  border-color: #31B5E0 transparent;
  border-style: solid;
  border-width: 0 15px 10px;
  bottom: auto;
  content: "";
  display: block;
  left: auto;
  position: absolute;
  right: 0px;
  top: -10px;
  width: 0;
}

/* USER PROFILE */
.user-profile-container{
  background: #ececec;
  border-radius: 10px;
  height: 234px;
  margin: 20px auto;
  width: 940px;
}
.cover-photo-container, .cover-photo-container img{
  border-radius: 5px 0 0 5px;
  width: 660px;
}
.cover-photo-container{
  float: left;
  height: 234px;
  overflow: hidden;
}
.user-info-container{
  background: url(bg-pattern-user.png) repeat transparent;
  border-radius: 0 5px 5px 0;
  float: right;
  height: 234px;
  width: 280px;
}
.user-avatar{
  background: #fff;
  border: 2px solid #aaa;
  border-radius: 999px 999px 999px 999px;
  box-shadow: 0px 1px 5px #ccc;
  float: left;
  height: 79px;
  margin: 20px 15px 0 -44px;
  overflow: hidden;
  padding: 2px;
  width: 79px;
}
.user-avatar img{
  border-radius: 999px 999px 999px 999px;
  margin: -5px 0 0 -5px;
  width: 90px;
}
.user-info-container .user-name{
  font-size: 24px;
  line-height: 25px;
  margin: 35px 0 10px 50px;
  width: 230px;
}
ul.user-detail{
  list-style: none;
  margin: 0 0 0 55px;
  padding: 0;
}
ul.user-detail li{
  font-size: 14px;
  padding: 5px 0 4px 25px;
  word-wrap: break-word;
  width: 190px;
}
ul.user-detail li.location{ background: url(bg-user-location.png) no-repeat 0px 6px transparent; }
ul.user-detail li.facebook{ background: url(bg-user-facebook.png) no-repeat 0px 6px transparent; }
ul.user-detail li.twitter{ background: url(bg-user-twitter.png) no-repeat 0px 7px transparent; }
ul.user-detail li.website{ background: url(bg-user-website.png) no-repeat 0px 6px transparent; }

/* USER SETTING */
.user-setting-container{
  background: #fff;
  min-height: 200px;
  padding: 20px;
}
span.form-desc{ color: #999; }
.image-group.user-image-group{
  background: #f7f7f7;
}
.user-image-group .current-image{
  float: left;
  height: 80px;
  margin: 0px 20px 5px 0;
  overflow: hidden;
  width: 80px;
}
.current-image.avatar{ height: 100px; }
.cover-img{ margin-bottom: 40px; }
.user-image-group .fake-file-input-container{
  float: left;
  width: 480px;
}
.image-group.user-image-group input[type="file"]{
  margin-right: 24px;
  width: 458px;
}


/* GENERAL */
.flash .message.alert, .flash .message.error{ color: #e5859f; }
.flash .message.notice{ color: #5fd43f; }
.right-el{ float: right; }
.left-el{ float: left; }

.home-message-container{
  display: none;
  left: 35%;
  position: fixed;
  padding: 5px;
  top: 80px;
}
.home-message-container .home-message{
  border-radius: 10px;
  color: #fff;
  font-size: 13px;
  padding: 30px 40px;
  text-align: center;
  text-shadow: 0px 1px 2px #ccc;
  min-width: 300px;
  opacity: 0.85;
}
.home-message.alert{ background: #feb84a; }
.home-message.notice{ background: #5fd43f; }
body.wysiwyg{
  font-size: 14px;
  padding: 5px 10px;
}
body.wysiwyg, div.wysiwyg iframe{
  box-shadow: none;
}

.no-data{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px #ccc;
  min-height: 200px;
  padding: 20px 0;
}

/* CHROME | WEBKIT */
@media screen and (-webkit-min-device-pixel-ratio:0){
  .fake-choose{ padding: 3px 4px; }
  #facebox{ min-width: 395px; }
  #facebox .popup{ min-width: 385px; }
}

